<!-- TOP MENU BAR -->
<div>
	<mat-toolbar id="topMenu" class="toolbar mat-elevation-z8">
		<img width="60" alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/commons/e/e5/NASA_logo.svg" />
		<span>Nasa Exoplanet Database</span>
		<div class="spacer"></div>
		<a aria-label="Nasa on YouTube" target="_blank" rel="noopener" href="https://www.youtube.com/nasa" title="Nasa">
			<svg id="youtube-logo" height="34" width="34" data-name="Logo" xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 24 24" fill="#fff">
				<path d="M0 0h24v24H0V0z" fill="none" />
				<path
					d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z" />
			</svg>
		</a>
	</mat-toolbar>
</div>

<!-- MAIN CONTENT -->
<div class="content" role="main">
	
	<form>
		<mat-form-field>
			<mat-label>Fields</mat-label>
			<mat-select [formControl]="toppings" multiple>
					<mat-option (click)="selectItem(topping)" *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
			</mat-select>
		</mat-form-field>

		<button class="fieldButton" color="accent" mat-flat-button (click)="filterBasedOnFields(true)">Filter</button>
		<button class="fieldButton" color="warn" mat-flat-button (click)="cleanFields()">Clean</button>
		<button class="fieldButton" color="accent" mat-flat-button (click)="searchBasedOnFields()">Search</button>

		<mat-chip-set *ngIf=(noneSelected)>
			<mat-chip color="warn">Error: can't filter, select a filter</mat-chip>
		</mat-chip-set>
	</form>

	<div class="float-container">
		<div class="float-child">
			<mat-form-field *ngIf=(show.planetName)>
				<mat-label>Planet Name</mat-label>
				<input matInput placeholder="11 Com b" [(ngModel)]="filter.planetName">
			</mat-form-field>
	
			<mat-form-field *ngIf=(show.hostName)>
				<mat-label>Host Name</mat-label>
				<input matInput placeholder="11 Com" [(ngModel)]="filter.hostName">
			</mat-form-field>

			<mat-form-field *ngIf=(show.discoveryMethod)>
				<mat-label>Discovery Method</mat-label>
				<input matInput placeholder="Radial Velocity" [(ngModel)]="filter.discoveryMethod">
			</mat-form-field>
	
			<mat-form-field *ngIf=(show.discoveryYear)>
				<mat-label>Discovery Year</mat-label>
				<input matInput placeholder="2007" [(ngModel)]="filter.discoveryYear">
			</mat-form-field>

		</div>

	</div>
		

	<!-- MAIN TABLE -->
	<div class="mat-elevation-z8">
		<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
	  
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">ID</th>
				<td mat-cell *matCellDef="let element"> {{element.id}} </td>
			</ng-container>

			<ng-container matColumnDef="planetName">
				<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Name </th>
				<td mat-cell *matCellDef="let element"> {{element.planetName}} </td>
			</ng-container>

			<ng-container matColumnDef="hostName">
				<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Host Name </th>
				<td mat-cell *matCellDef="let element"> {{element.hostName}} </td>
			</ng-container>

			<ng-container matColumnDef="discoveryYear">
				<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Discovery Year </th>
				<td mat-cell *matCellDef="let element"> {{element.discoveryYear}} </td>
			</ng-container>

			<ng-container matColumnDef="discoveryMethod">
				<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Discovery Method </th>
				<td mat-cell *matCellDef="let element"> {{element.discoveryMethod}} </td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
	  
	
		<mat-paginator [pageSizeOptions]="[10]"
					   showFirstLastButtons
					   aria-label="Select page of periodic elements">
		</mat-paginator>
	</div>
	<button color="accent" mat-flat-button (click)="loadMore()">Load More</button>

	 
</div>
